/* ITEM */
.item {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #eaedf3;
	border-radius: 3px !important;
	background: #ffffff;
	margin: 10px;
	align-self: stretch;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.button {
	background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
	border-radius: 3px 0 3px 0;
	border: 0;
	color: white;
	height: 48;
	padding: 10px 30px;
	align-self: flex-end;
}

.button:hover {
	background: #3e3f42;
	transition: 0.5s;
}

.category {
	font-weight: 300;
	font-size: 0.875rem;
}
